.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E8F5E9;
  height: 100vh;
}

.Box{
  width: 400px;
  border: 2px solid #4CAF50;
  border-radius: 10px;
  padding: 10px;
  margin: 100px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  font-weight: 800;
  color: #fff;
  text-shadow: 2px 2px 0px rgba(0,0,0,0.2), 3px 3px 0px rgba(0,0,0,0.2), 4px 4px 0px rgba(0,0,0,0.2), 5px 5px 0px rgba(0,0,0,0.2);
  background: linear-gradient(to right, #32CD32, #3CB371, #00FA9A);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  margin-bottom: 30px;
}





.input{
  width: 320px;
  height: 60px;
  font-size: 24px;
  font-weight: bold;
  text-align: right;
  border: none;
  background-color: #F5F5F5;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.buttons{
  width: 350px;
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ipbox{
  width: 300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

button{
  width: 75px;
  height: 50px;
  background-color: #FFFFFF;
  border: 2px solid #4CAF50;
  border-radius: 5px;
  color: #4CAF50;
  font-size: 24px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

button:hover {
  background-color: #4CAF50;
  color: #FFFFFF;
  border-color: #FFFFFF;
}

button:active {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
}

button.operator:hover {
  background-color: #00C851;
  color: #FFFFFF;
  border-color: #FFFFFF;
}

button.equal {
  background-color: #FFFFFF;
  color: #4CAF50;
  border-color: #4CAF50;
}

button.equal:hover {
  background-color: #4CAF50;
  color: #FFFFFF;
  border-color: #FFFFFF;
}

button.equal:active {
  background-color: #FFFFFF;
  color: #00C851;
  border-color: #00C851;
}

button.clear {
  background-color: #FFFFFF;
  color: #F44336;
  border-color: #F44336;
}

button.clear:hover {
  background-color: #F44336;
  color: #FFFFFF;
  border-color: #FFFFFF;
}

button.clear:active {
  transform: scale(0.9);
}
